# Git cached files
.git/

# Cached file
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Env 
.env

# Secret keys
## Google Sheet keys
service_account.json
## Firebase keys
serviceAccountKey.json

*.json
