# Redshift env
REDSHIFT_HOST=example
REDSHIFT_DATABASE=example
REDSHIFT_USER=example
REDSHIFT_PASSWORD=example
REDSHIFT_PORT=example

# S3 env
S3_BUCKET_NAME=example
AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example
AWS_REGION=example

# Frontend env
VERCEL_WEBSITE_NAME=example
VERCEL_REVALIDATE_SECRET=example
