# Python
__pycache__/
*.py[cod]

# Files
browser_session/
*.csv

# Virtual environment
venv/

# OS
.DS_Store

# Secret keys/ credentials
service_account.json
*.secrete.json
.env
*.env
credentials.json