# Python
__pycache__/
*.py[cod]
.app/__pycache__

# Files
browser_session/
*.csv

# Virtual environment
venv/

# OS
.DS_Store

# Secret keys/ credentials
service_account.json
serviceAccountKey.json
*.secrete.json
.env
*.env
credentials.json

# History record
./history_record

# Database 
./database